<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nus.iss.android.medipal">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">

        <activity
            android:name=".Activity.NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="Today's Schedule"
            android:parentActivityName=".Activity.NavDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.PersonalInfoActivity"
            android:label="@string/title_activity_personal_info"
            android:parentActivityName=".Activity.NavDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activity.MainActivityOld"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activity.EntryClass"
            android:label="@string/user_form"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".Activity.addAppointmentActivity"
            android:label="Add Appointment"
            android:theme="@style/AppThemeWithActionBar"
            android:parentActivityName=".Activity.AppointmentList"/>
        <activity
            android:name=".Activity.appointmentAction"
            android:label="View Appointment"
            android:theme="@style/AppThemeWithActionBar"
            android:parentActivityName=".Activity.AppointmentList"/>
        <activity android:name=".Activity.AppointmentList"
            android:label="Appointments"
            android:theme="@style/AppThemeWithActionBar"
            android:parentActivityName=".Activity.NavDrawerActivity"/>
        <provider
            android:name=".Data.MedicalProvider"
            android:authorities="com.nus.iss.android.medipal"
            android:exported="false" />
	    <activity android:name=".Activity.MedicineActivity" />
        <activity android:name=".Activity.AddMedicineActivity" />

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activity.History"
            android:label="@string/menuhistory" />
        <activity
            android:name=".Activity.HistoryList"
            android:label="@string/menuhistorylist"
            android:parentActivityName=".Activity.NavDrawerActivity"/>
        <activity
            android:name=".Activity.FaqHelpActivity"
            android:label="@string/faqHelp"
            android:parentActivityName=".Activity.NavDrawerActivity"/>
        <activity
            android:name=".Activity.AboutUs"
            android:label="@string/faqHelp"
            android:parentActivityName=".Activity.NavDrawerActivity"/>
        <service
            android:name=".services.NotificationService"
            android:enabled="true"
            android:exported="true"></service>

        //Thushara
        <activity
            android:name=".Activity.bpActivity"
            android:label="Add Blood Pressure"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".Activity.temperatureActivity"
            android:label=" Add Temperature"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".Activity.pulseActivity"
            android:label="Add Pulse"
            android:parentActivityName=".Activity.Measurement"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".Activity.weightActivity"
            android:label="Add Weight"
            android:theme="@style/AppThemeWithActionBar" />
        <activity android:name=".Activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Measurement"
            android:label="@string/MeasurementList"
            android:theme="@style/AppThemeWithActionBar"
            android:parentActivityName=".Activity.NavDrawerActivity"/>

        <activity
            android:name=".Activity.ICEContactList"
            android:label="ICE Contact"
            android:parentActivityName=".Activity.NavDrawerActivity"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".Activity.AddContactActivity"
            android:label="Add Contact"
            android:theme="@style/AppThemeWithActionBar"
            android:parentActivityName=".Activity.ICEContactList"/>
        <activity
            android:name=".Activity.ContactAction"
            android:label="View Contact"
            android:theme="@style/AppThemeWithActionBar"
            android:parentActivityName=".Activity.ICEContactList"/>
    </application>

</manifest>