<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nus.iss.android.medipal">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">

        <activity
            android:name=".activity.NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="Today's Schedule"
            android:parentActivityName=".activity.NavDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PersonalInfoActivity"
            android:label="@string/title_activity_personal_info"
            android:parentActivityName=".activity.NavDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.AddHealthBioActivity"
            android:label="@string/title_activity_add_health_bio"
            android:parentActivityName=".activity.PersonalInfoActivity"
            android:theme="@style/AppThemeWithActionBar"
            android:screenOrientation="portrait"/>

        <!-- ********** -->

        <activity
            android:name=".activity.MainActivityOld"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activity.AddAppointmentActivity"
            android:label="Add Appointment"
            android:theme="@style/AppThemeWithActionBar"
            android:parentActivityName=".activity.AppointmentList"/>
        <activity
            android:name=".activity.AppointmentAction"
            android:label="View Appointment"
            android:theme="@style/AppThemeWithActionBar"
            android:parentActivityName=".activity.AppointmentList"/>
        <activity android:name=".activity.AppointmentList"
            android:label="Appointments"
            android:theme="@style/AppThemeWithActionBar"
            android:parentActivityName=".activity.NavDrawerActivity"/>
        <provider
            android:name=".data.MedicalProvider"
            android:authorities="com.nus.iss.android.medipal"
            android:exported="false" />
	    <activity android:name=".activity.MedicineActivity"
            android:parentActivityName=".activity.NavDrawerActivity"/>
        <activity android:name=".activity.AddMedicineActivity" />

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.History"
            android:label="@string/menuhistory" />
        <activity
            android:name=".activity.HistoryList"
            android:label="@string/menuhistorylist"
            android:parentActivityName=".activity.NavDrawerActivity"/>
        <activity
            android:name=".activity.FaqHelpActivity"
            android:label="@string/faqHelp"
            android:parentActivityName=".activity.NavDrawerActivity"/>
        <activity
            android:name=".activity.AboutUs"
            android:label="About Us"
            android:parentActivityName=".activity.NavDrawerActivity"/>

        //Thushara
        <activity
            android:name=".activity.BpActivity"
            android:label="Add Blood Pressure"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".activity.TemperatureActivity"
            android:label=" Add Temperature"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".activity.PulseActivity"
            android:label="Add Pulse"
            android:parentActivityName=".activity.Measurement"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".activity.WeightActivity"
            android:label="Add Weight"
            android:theme="@style/AppThemeWithActionBar" />
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Measurement"
            android:label="@string/MeasurementList"
            android:theme="@style/AppThemeWithActionBar"
            android:parentActivityName=".activity.NavDrawerActivity"/>

        <activity
            android:name=".activity.ICEContactList"
            android:label="ICE Contact"
            android:parentActivityName=".activity.NavDrawerActivity"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".activity.AddContactActivity"
            android:label="Add Contact"
            android:theme="@style/AppThemeWithActionBar"
            android:parentActivityName=".activity.ICEContactList"/>
        <activity
            android:name=".activity.ContactAction"
            android:label="View Contact"
            android:theme="@style/AppThemeWithActionBar"
            android:parentActivityName=".activity.ICEContactList"/>
	    <activity
            android:name=".activity.CurrentMedicineActivity"
            android:parentActivityName=".activity.MedicineActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MedicineActivity" />
        </activity>
        <activity android:name=".activity.ReminderActivity" />
        <!--<service
            android:name=".services.NotificationIntentService"
            android:exported="true"
            android:enabled="true"></service>-->
        <receiver android:name=".receiver.MedicineReceiver"
            android:enabled="true"/>
        <receiver android:name=".receiver.MedicineReceiver"
            android:enabled="true"/>
    </application>

</manifest>